@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/auth-form";
@import "../../../../assets/styles/mixing";

.order-popup {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 727px;
  height: 489px;
  box-sizing: border-box;
  background-position: bottom center;
  background-repeat: no-repeat;
  text-align: center;
  color: $light-blue-text-color;

  .order-popup-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }

  .order-popup-title {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    line-height: 130%;

    &.main {
      max-width: 411px;
    }
  }

  .order-popup-content div {
    margin-bottom: 5px;
    font-size: 20px;
  }

  .order-popup-info {
    .order-popup-text {
      margin-bottom: 40px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 130%;
      color: $dark-text-color;
    }

    .button {
      width: 73px;
      padding: 10px 20px;
      box-sizing: border-box;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 500;
      line-height: 130%;
    }
  }

  .order-popup-error {
    margin-top: 7px;
    color: red;
  }
}

.auth-form {
  .auth-button {
    margin-top: 20px;
  }
}

.select {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  color: $light-blue-text-color;
}

.select::after {
  content: "";
}

@media screen and (max-width: 915px) {
  .order-popup {
    width: 650px;
    height: 449px;
  }
}

@media screen and (max-width: 815px) {
  .order-popup {
    width: 600px;
  }
}

@media screen and (max-width: 750px) {
  .order-popup {
    width: 500px;
  }

  .title {
    @include head-lora-30;
  }

}

@media screen and (max-width: 630px) {
  .order-popup {
    width: 450px;

    .auth-form {
      .auth-inputs {
        .auth-input {
          input, select {
            width: 400px;
          }
        }
      }

      .auth-button {
        button {
          &.button {
            width: 400px;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 562px) {
  .order-popup {
    width: 400px;

    .auth-form {
      .auth-inputs {
        .auth-input {
          input, select {
            width: 350px;
          }
        }
      }
      .auth-button {
        button {
          &.button {
            width: 350px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 562px) {
  .title {
    font-size: 27px;
  }
  .order-popup {
    width: 370px;

    .auth-form {
      .auth-inputs {
        .auth-input {
          input, select {
            width: 300px;
          }
        }
      }
      .auth-button {
        button {
          &.button {
            width: 300px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 470px) {
  .title {
    font-size: 25px;
  }
  .order-popup {
    width: 300px;

    .auth-form {
      .auth-inputs {
        .auth-input {
          input, select {
            width: 250px;
          }
        }
      }
      .auth-button {
        button {
          &.button {
            width: 250px;
          }
        }
      }
    }
  }
}
