@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixing";

.header {
  padding: 40px 0;

  .container {
    display: grid;
    grid-template-columns: 0.9fr 2.4fr  minmax(144px, 1.1fr) fit-content(200px);
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-weight: 500;

    .logo {
      display: block;
      width: 85px;
      height: 47px;

      img {
        height: 100%;
        object-fit: contain;
      }
    }

    .header-menu {
      nav ul {
        display: flex;
        margin: 0;
        padding: 0;

        li {
          margin-right: 30px;
          list-style: none;


          a {
            color: $blue-text-color;
            cursor: pointer;
            text-decoration: none;

            &.active {
              color: $light-blue-text-color;
            }
          }
        }
      }
    }

    .header-phone {
      color: $light-blue-text-color;
      text-decoration: none;
    }

    .header-action {
      display: flex;
      align-items: center;

      a {
        margin-left: 7px;
        color: $blue-text-color;
        text-decoration: none;
        cursor: pointer;

        span {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 18px;
          height: 18px;
          top: 10px;
          right: -18px;
          font-family: Montserrat, sans-serif;
          font-weight: 400;
          color: $blue-text-color;
          font-size: 9px;
          border-radius: 50%;
          //background-color: #B6D5B9;
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .header {
    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

@media screen and (max-width: 1065px) {
  .header {
    .container {
      .header-action{
        justify-content: end;
      }
      .header-phone {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .header {
    .container {
      grid-template-areas:
				"logo action "
				"menu menu";
      gap: 10px;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr 1fr;

      .logo {
        grid-area: logo;
      }

      .header-menu {
        grid-area: menu;
        width: 80%;
        margin: 0 auto;

        nav ul {
          justify-content: space-between;

          li {
            margin-right: 0;
          }
        }
      }

      .header-action {
        grid-area: action;
        justify-content: end;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .header {
    .container {
      .header-menu {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .burger {
    display: block;
  }
  .header {
    .container {
      .header-menu {
        justify-content: space-between;

        @include menu;
      }
    }
  }
}


