@import "../../../../assets/styles/auth-form";

.login {
  padding-top: 106px;
  padding-bottom: 92px;

  .container {
    display: flex;

    .auth-form {
      margin-top: 14px;
    }

    .page-image {
      margin-left: 178px;

      img {
        vertical-align: bottom;
      }
    }
  }
}
